MONGO_URL=mongodb://rocketchat:websoft9@localhost:27017/rocketchat?replicaSet=rs01
MONGO_OPLOG_URL=mongodb://root:{{ mongodb_password.stdout}}@localhost:27017/local?authSource=admin?replicaSet=rs01
ROOT_URL=http://localhost:3000
PORT=3000
